body > *{
    position: relative;
    z-index: 2;
    color: white;
    overscroll-behavior: none;
}
body{
    background-color: #7dd15e;;
}
h1{
    text-align: center;
    color: Orange;
    font-size: 100px;
}
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body,html{
    overflow-x: hidden;
}
.sprites{
    background-color:transparent; 
    border: 0px;
}
@font-face { font-family: loverFont; src: url('/LoversQuarrel-Regular.ttf'); } 
#letter {
   font-family: loverFont;
    margin-inline: auto;
}
#mailbox{
    position:relative;
}
#mail{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#mail1{
    position:absolute;
    height: 75px;
    width: 200px;
    left: 380px;
    top: 125px;
}
#mail2{
    position:absolute;
    height: 75px;
    width: 200px;
    left: 425px;
    top: 175px;
}
#mail3{
    position:absolute;
    height: 75px;
    width: 180px;
    left: 340px;
    top: 220px;
}
#loading {
    margin-inline: auto;
    color: orange;
}
h2{
    font-size: 40px;
}